<div id="<%= dom_id flow %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= flow.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= flow.description %>
  </p>
</div>
